.header {
	margin: 0;
    padding: 35px 0;
    color:#fff;
    text-shadow: none;
    background: linear-gradient(to left, #2B37C0, #253292);
    text-align: center;
}

.header h1 {
	font-size: 50px;
    color : #FBCE33;
    font-family: "Montserrat","Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    text-align: center;
}

h4 {
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: center;
    text-align: center;
}

.main .container .jumbotron {
	margin-top: 30px;
    margin-bottom: 30px;
}
.text-part:hover {
	color: #253292;
	font-style: italic;
	cursor:pointer;
}

.lead {
    text-align: center;
    font-size: 32px;
    line-height: 1.6;
}

.action-buttons {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.img-with-text {
    text-align: justify;
}

.img-with-text p {
    margin: 8px;
}

/*#2B37C0, #253292*/
.btn.btn-lg.btn-pipotron {
	outline:0px;
	color: #fff;
    text-shadow: none;
    background-image: -moz-linear-gradient(top, #2B37C0, #253292);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2B37C0), to(#253292));
    background-image: -webkit-linear-gradient(top, #2B37C0, #253292);
    background-image: -o-linear-gradient(top, #2B37C0, #253292);
    background-image: linear-gradient(to bottom, #2B37C0, #253292);
    background-repeat: repeat-x;
    border: 1px solid #253292;
}

.btn.btn-lg.btn-pipotron:hover {
	color: #fff;
    text-shadow: none;
	background-color: #253292;
    background-image: -moz-linear-gradient(top, #253292, #253292);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#253292), to(#253292));
    background-image: -webkit-linear-gradient(top, #253292, #253292);
    background-image: -o-linear-gradient(top, #253292, #253292);
    background-image: linear-gradient(to bottom, #253292, #253292);
    background-repeat: repeat-x;
    border: 1px solid #253292;
}